<div id="page-transitions">

    <div class="page-preloader page-preloader-dark" ng-class="{true:'show-preloader'}[isLoading]">
        <img class="page-preload" src="images/preload.gif">
    </div>

    <div class="header header-dark">
        <a class="header-icon-1 show-left-sidebar"><i class="fa fa-navicon"></i></a>
        <a href="#" class="header-logo"></a>
        <a href="#" class="header-icon-4 show-right-sidebar"><i class="fa fa-envelope-o"></i></a>
    </div>

    <div id="page-content" class="page-content fadeIn show-containers">
        <div id="page-content-scroll" style="right: 0px;">
          

            <div class="content" ng-repeat="joke in jokes">
                <h4 class="center-text bold">{{joke.JokesTitle}}</h4>
                <p class="boxed-text center-text half-bottom">
                    {{joke.JokesDescription}}
                </p>
                <div class="social-center full-bottom">
                    <a href="#" class="scale-hover"><i class="fa fa-facebook facebook-color"></i></a>
                    <a href="#" class="scale-hover"><i class="fa fa-google-plus google-color"></i></a>
                    <a href="#" class="scale-hover"><i class="fa fa-twitter twitter-color"></i></a>
                    <div class="clear"></div>
                </div>
                <div class="decoration"></div>
            </div>

            <div class="content-fullscreen">
                <div class="badge-image">
                    <a ng-click="nextRecords()" class="badge-read">Load more...</a>
                    <div class="clear"></div>
                </div>
            </div>
          
        </div>
    </div>

    <div class="sidebar-left">
        <div class="sidebar-scroll-left sidebar-dark">
            <div class="sidebar-image">
                <h3>Welcome to Status World</h3>
                <div class="sidebar-overlay"></div>
                <img src="images/pictures/3.jpg" alt="img" class="responsive-image">
            </div>
            <div class="sidebar-divider no-bottom no-top"></div>
        
            <div class="sidebar-menu">
                <div class="has-submenu">
                    <a class="menu-item show-submenu" href="/#/">
                        <i class="fa fa-home bg-red-dark"></i>
                        <em>Home</em>
                    </a>
                    <div class="submenu submenu-active-12">
                        <a ng-repeat="category in categories" class="submenu-item submenu-item-active"  ng-click='move(category.Id)'>          <i class="fa fa-angle-right"></i><em>   {{category.Category1}}         </em><i class="fa fa-circle"></i></a>
                    </div>
                </div>
            </div>
            <p class="sidebar-divider">Let's get social</p>
            <div class="sidebar-menu">
                <a class="default-link menu-item" href="https://www.facebook.com/enabled.labs">
                    <i class="fa fa-facebook facebook-color"></i>
                    <em>Facebook</em>
                </a>
                <a class="default-link menu-item" href="https://twitter.com/iEnabled">
                    <i class="fa fa-twitter twitter-color"></i>
                    <em>Twitter</em>
                </a>
                <a class="default-link menu-item" href="https://plus.google.com/u/1/100477648973116025417/posts">
                    <i class="fa fa-google-plus google-color"></i>
                    <em>Google Plus</em>
                </a>
                <a class="default-link menu-item" href="#">
                    <i class="fa fa-youtube-play youtube-color"></i>
                    <em>YouTube</em>
                </a>
            </div>
       
            <p class="sidebar-footer">Copyright 2015. All rights reserved</p>
        </div>
    </div>

    <div class="sidebar-right">
        <div class="sidebar-scroll-right sidebar-dark">
            <div class="sidebar-image">
                <h3>Let's get in touch!</h3>
                <em>Send a message or follow our socials</em>
                <div class="sidebar-overlay"></div>
                <img src="images/pictures/3.jpg" alt="img" class="responsive-image">
            </div>
            <div class="sidebar-divider no-bottom"></div>
            <p class="sidebar-divider">Let's get social</p>
            <div class="sidebar-menu">
                <a class="default-link menu-item" href="https://www.facebook.com/enabled.labs">
                    <i class="fa fa-facebook facebook-color"></i>
                    <em>Facebook</em>
                </a>
                <a class="default-link menu-item" href="https://twitter.com/iEnabled">
                    <i class="fa fa-twitter twitter-color"></i>
                    <em>Twitter</em>
                </a>
                <a class="default-link menu-item" href="https://plus.google.com/u/1/100477648973116025417/posts">
                    <i class="fa fa-google-plus google-color"></i>
                    <em>Google Plus</em>
                </a>
                <a class="default-link menu-item" href="#">
                    <i class="fa fa-youtube-play youtube-color"></i>
                    <em>YouTube</em>
                </a>
            </div>
            <p class="sidebar-divider">Send an email</p>
            <div class="container no-bottom">
                <div class="sidebar-form contact-form no-bottom">
                    <em>
                        Your message is important to us and we reply to all of them in less than 48 hours.
                    </em>
                    <div class="formSuccessMessageWrap" id="formSuccessMessageWrap" style="display: none;">
                        Awesome! We'll get back to you!
                    </div>
                    <form action="php/contact.php" method="post" class="contactForm" id="contactForm">
                        <fieldset>
                            <div class="formValidationError" id="contactNameFieldError" style="display: none;">Name is required!</div>
                            <div class="formValidationError" id="contactEmailFieldError" style="display: none;">Mail address required!</div>
                            <div class="formValidationError" id="contactEmailFieldError2" style="display: none;">Mail address must be valid!</div>
                            <div class="formValidationError" id="contactMessageTextareaError" style="display: none;">Message field is empty!</div>
                            <div class="formFieldWrap">
                                <input onfocus="if (this.value=='Name') this.value = ''" onblur="if (this.value=='') this.value = 'Name'" type="text" name="contactNameField" value="Name" class="contactField requiredField" id="contactNameField">
                            </div>
                            <div class="formFieldWrap">
                                <input onfocus="if (this.value=='Email') this.value = ''" onblur="if (this.value=='') this.value = 'Email'" type="text" name="contactEmailField" value="Email" class="contactField requiredField requiredEmailField" id="contactEmailField">
                            </div>
                            <div class="formTextareaWrap">
                                <textarea onfocus="if (this.value=='Message') this.value = ''" onblur="if (this.value=='') this.value = 'Message'" name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea">Message</textarea>
                            </div>
                            <div class="formSubmitButtonErrorsWrap">
                                <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="SUBMIT" data-formid="contactForm">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <p class="sidebar-divider">Contact Us</p>
            <div class="sidebar-menu">
                <a class="default-link menu-item" href="tel:+123 456 7890">
                    <i class="fa fa-phone bg-green-dark"></i>
                    <em>Call Us</em>
                </a>
                <a class="default-link menu-item" href="sms:+123 456 7890">
                    <i class="fa fa-comment-o bg-blue-dark"></i>
                    <em>Text Us</em>
                </a>
                <a class="default-link menu-item" href="mailto:someone@yoursite.com?subject=Message from ThemeForest">
                    <i class="fa fa-envelope-o bg-magenta-dark"></i>
                    <em>Mail Us</em>
                </a>
                <a class="menu-item close-sidebar" href="#">
                    <i class="fa fa-times bg-red-dark"></i>
                    <em>Close</em>
                    <i class="fa fa-circle"></i>
                </a>
            </div>
            <p class="sidebar-footer">Copyright 2015. All rights reserved</p>
        </div>
    </div>

    <div class="share-bottom share-dark">
        <h3>Share Page</h3>
        <div class="share-socials-bottom">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.themeforest.net/">
                <i class="fa fa-facebook facebook-color"></i>
                Facebook
            </a>
            <a href="https://twitter.com/home?status=Check%20out%20ThemeForest%20http://www.themeforest.net">
                <i class="fa fa-twitter twitter-color"></i>
                Twitter
            </a>
            <a href="https://plus.google.com/share?url=http://www.themeforest.net">
                <i class="fa fa-google-plus google-color"></i>
                Google
            </a>
            <a href="https://pinterest.com/pin/create/button/?url=http://www.themeforest.net/&amp;media=https://0.s3.envato.com/files/63790821/profile-image.jpg&amp;description=Themes%20and%20Templates">
                <i class="fa fa-pinterest-p pinterest-color"></i>
                Pinterest
            </a>
            <a href="sms:">
                <i class="fa fa-comment-o sms-color"></i>
                Text
            </a>
            <a href="mailto:?&amp;subject=Check this page out!&amp;body=http://www.themeforest.net">
                <i class="fa fa-envelope-o mail-color"></i>
                Email
            </a>
            <div class="clear"></div>
        </div>
    </div>

    <div class="background"></div>
</div>  